@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 1rem;
    scroll-behavior: smooth;
    font-style: normal;
    font-family: 'Montserrat';
    margin: 0;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    letter-spacing: 0.1vh;
    resize: none;
    outline: none;
    border: 0;
    user-select: none;
    scroll-behavior: smooth;
}


div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: #111;
}

h1 {
    font-weight: 700;
    font-size: 1.7rem;
    color: #0066ff;
    filter: drop-shadow(0px 0px 10px #0066ffa4);
}

button {
    background-color: rgb(0, 110, 255);
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1%;
}
button:hover {
    color: rgb(180, 180, 180);
    cursor: pointer;
    filter: drop-shadow(0px 0px 7px #0066ff70);
}

#saida {
    font-weight: 600;
    font-size: 1.3rem;
    color: #fff;
}
ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 40%;
    margin: 1%;
}
li {
    margin: 0.5%;
    font-weight: 500;
    font-size: 1rem;
    color: #fff;
}
.pul {
    color: #0066ff;
    filter: drop-shadow(0px 0px 10px #0066ffa4);
    font-weight: 700;
    font-size: 1.1rem;
}
.ul {
    width: 40%;
}
.saida {
    z-index: 1;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    background-color: #202020;
    height: 68%;
    width: 45%;
    border-radius: 7px;
    border: 3px solid #2d2d2d;
    filter: drop-shadow(0px 0px 10px #2d2d2da7);
}
.close {
    margin-top: 2%;
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
    opacity: 50%;
}
.close:hover {
    color: red;
    opacity: 100%;
    cursor: pointer;
}
span {
    color: #0066ff;
    margin: 0.5%;
    font-weight: 700;
    font-size: 1.3rem;
}